<div class="bottom-side-menu-container">
  <div class="bottom-side-menu-header">
    <h3>Channels</h3>
    <small>Browse all channels</small>
  </div>
  <hr />
  <div class="bottom-side-menu-tiles-container">
    <div
      *ngFor="let item of items"
      [ngStyle]="{
        'background-image': 'url(' + item.pic + ')',
        'background-size': 'cover'
      }"
      class="bottom-side-menu-tiles"
    >
      <small>{{ item.text }}</small>
    </div>
  </div>
  <br />
  <hr />
</div>
