.bottom-side-menu-container
    width: 430px
    color: white
    height: 400px
    // background-color: white
    margin: 67px 80px 50px 0

    .bottom-side-menu-header
        display: flex
        justify-content: space-between
        align-items: flex-end
        margin-bottom: 15px

        h3
            font-weight: 500
        
        small
            font-weight: 100
            cursor: pointer
    
    .bottom-side-menu-tiles-container
        display: flex
        justify-content: space-between
        flex-wrap: wrap

        .bottom-side-menu-tiles
            cursor: pointer
            margin-top: 20px
            background-color: white
            width: 210px
            height: 120px
            display: flex
            flex-direction: column
            justify-content: flex-end
            
            small
                color: #964850
                background-image: linear-gradient(to right, rgba(255,255,255,.6), rgba(255,255,255,1))
                font-weight: 700
                margin: 0 0 10px 10px
                max-width: fit-content
                padding: 0 10px 0 10px

            &:hover
                box-shadow: inset 0 0 0 1px white
                
