.menus-container
    align-items: center
    justify-content: space-between
    margin: 10px 0 50px 80px

    .menus-header
        display: flex
        color: white
        justify-content: space-between
        width: 400px
        // background-color: white
        align-items: flex-end
        margin-bottom: 15px

        h3
            font-weight: 500
        
        small
            font-weight: 100
            cursor: pointer
    
    .menus-tiles
        .top-row
            display: flex

            .menus-main-tile
                cursor: pointer
                display: flex
                flex-direction: column
                justify-content: flex-end
                background-color: white
                width: 400px // 195px
                height: 250px // 120px
                color: #964850

                h3
                    background-image: linear-gradient(to right, rgba(255,255,255,.6), rgba(255,255,255,1))
                    margin-left: 10px
                    max-width: fit-content
                    padding: 0 10px 0 10px
                
                small
                    background-image: linear-gradient(to right, rgba(255,255,255,.6), rgba(255,255,255,1))
                    margin: 3px 0 10px 10px
                    max-width: fit-content
                    padding: 0 10px 0 10px
                
                &:hover
                    box-shadow: inset 0 0 0 1px white

            .menus-side-tiles
                cursor: pointer
                display: flex
                justify-content: space-between
                align-items: flex-end
                margin: 0 0 10px 10px
                width: 195px
                height: 120px
                background-color: white

                small
                    background-image: linear-gradient(to right, rgba(255,255,255,.6), rgba(255,255,255,1))
                    margin: 10px    
                    color: #964850
                    padding: 0 3px 0 3px

                &:hover
                    box-shadow: inset 0 0 0 1px white
        
        .bottom-row
            display: flex

            .menus-side-tiles
                cursor: pointer
                display: flex
                justify-content: space-between
                align-items: flex-end
                margin: 0 10px 0 0
                width: 195px
                height: 120px
                background-color: white

                small
                    margin: 10px    
                    background-image: linear-gradient(to right, rgba(255,255,255,.6), rgba(255,255,255,1))
                    color: #964850
                    padding: 0 3px 0 3px

                &:hover
                    box-shadow: inset 0 0 0 1px white

            .menus-upload-tile
                display: flex
                cursor: pointer
                justify-content: flex-start
                align-items: center
                margin: 0 10px 0 0
                width: 195px
                height: 120px
                background-color: none
                box-shadow: inset 0 0 0 1px white

                svg
                    margin-left: 30px
                    color: white

                .menus-upload-text
                    display: flex
                    flex-direction: column
                    small
                        margin: 2px 0px 2px 8px    
                        background-color: none
                        color: white
                        font-weight: 700

                &:hover
                    box-shadow: inset 0 0 5px 1px white