<div class="top-side-menu-container">
  <div class="top-side-menu-header">
    <h3>Activity</h3>
    <small>View timeline /Filter activities</small>
  </div>
  <hr />
  <div *ngFor="let item of items" class="top-side-menu-tiles">
    <div
      [ngStyle]="{
        'background-image': 'url(' + item.pic + ')',
        'background-size': 'cover'
      }"
      class="top-side-menu-tiles-pic"
    ></div>
    <div class="top-side-menu-tiles-content">
      <div class="content-first-row">
        <p>{{ item.name }}</p>
        <small>{{ item.action }}</small>
      </div>
      <div class="content-second-row">
        <small>{{ item.preview }}</small>
      </div>
      <div class="content-third-row">
        <small>{{ item.timestamp }}</small>
      </div>
    </div>
  </div>
  <br />
  <hr />
</div>
