.top-side-menu-container
    width: 430px
    color: white
    height: 400px
    // background-color: white
    margin: 10px 80px 50px 0

    .top-side-menu-header
        display: flex
        justify-content: space-between
        align-items: flex-end
        margin-bottom: 15px

        h3
            font-weight: 500
        
        small
            font-weight: 100
            cursor: pointer
    
    .top-side-menu-tiles
        margin-top: 15px
        padding: 8px 0 8px 0
        display: flex
        align-items: center
        cursor: pointer
        &:hover
            box-shadow: inset 0 0 0 1px white
            padding-left: 8px

        .top-side-menu-tiles-pic
            background-color: white
            width: 100px
            height: 60px
            margin-right: 20px

        .top-side-menu-tiles-content
            background-color: none
            display: flex
            flex-direction: column
            justify-content: space-between
            height: 60px

            .content-first-row
                display: flex
                align-items: flex-end

                p
                    margin-right: 5px
                
                small
                    font-weight: 100
                    font-size: 10px
            
            .content-second-row

                small
                    font-weight: 100
                    font-size: 15px

            .content-third-row

                small
                    font-weight: 100
                    font-size: 10px


